<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>App</title>
    <base href="/">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet"/>
    <link rel="stylesheet" href="style.css">
</head>
<body>


<nav class="{{active}}">

    <a href="/" class="home" ng-click="active='home'">Home</a>
    <a href="/pirmadienis" class="pirmadienis" ng-click="active='pirmadienis'">Pirmadienis</a>
    <a href="/antradienis" class="antradienis" ng-click="active='antradienis'">Antradienis</a>
    <a href="/treciadienis" class="treciadienis" ng-click="active='treciadienis'">Treciadienis</a>
    <a href="/ketvirtadienis" class="ketvirtadienis" ng-click="active='ketvirtadienis'">Ketvirtadienis</a>
    <a href="/penktadienis" class="penktadienis" ng-click="active='penktadienis'">Penktadienis</a>


</nav>

<p ng-show="active">Testas <b>{{active}}</b></p>
<div ng-view></div>


<script src="app.js"></script>
</body>
</html>